.Message-box{data: {message: {id: message.id}}}
  .Message-info
    .Message-info__user-name
      = message.user.name
    .Message-info__date-time
      = message.created_at.to_s(:datetime)
  .Message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?