* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.Side-bar {
  width: 300px;
  &__user-name {
    padding: 0 20px;
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  &__top-items {
    width: 260px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    &--name {
    }
    &--icon {
      display: flex;
      a {
        color: #fff;
      }
    }
    &--edit {
      margin-right: 5px;
    }
  }
  &__group-list {
    padding: 0 20px;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    .Group{
      padding: 20px 0 40px 0;
      a {
        color: #fff;
        text-decoration: none;
      }
      &__name {
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.Chat-main {
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
    .Group-info {
      &__name {
        font-size: 20px;
        color: #333;
        margin-top: 35px;
        margin-bottom: 15px;
      }
      &__member-list {
        font-size: 12px;
        color: #999;
      }
      &__editBtn {
        font-size: 16px;
        color: #38aef0;
        border: 1px solid #38aef0;
        padding: 0px 20px;
        height: 40px;
        width: 72px;
        line-height: 40px;
      }
    }
  }
  &__massage-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  &__massage-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}